
#calendar-container {
    position: relative;
    width: 100%;
}

#calendar-iframe {
    position: relative;
    width: 100%;
    border: none;
    height: 100%;
    min-height: 650px;
    overflow: hidden;
}